.extension-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  padding-bottom: 20px;
}

.logo-text {
  font-size: 14px;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
